In [30]:
import warnings
from math import sqrt
from pandas import read_csv
from pandas import datetime
from statsmodels.tsa.arima.model import ARIMA
from sklearn.metrics import mean_squared_error# load dataset
series = pd.read_csv('TOTALSA.csv', header=0)
series

           DATE  TOTALSA
0    1976-01-01   12.814
1    1976-02-01   13.340
2    1976-03-01   13.378
3    1976-04-01   13.223
4    1976-05-01   12.962
..          ...      ...
564  2023-01-01   16.455
565  2023-02-01   15.438
566  2023-03-01   15.404
567  2023-04-01   16.627
568  2023-05-01   15.603

[569 rows x 2 columns]

In [35]:
s09 =series [ (series.DATE>='1991-01-01') & (series.DATE<='2009-02-01' )]


series=s09
series

           DATE  TOTALSA
180  1991-01-01   11.829
181  1991-02-01   12.409
182  1991-03-01   12.848
183  1991-04-01   12.038
184  1991-05-01   12.487
..          ...      ...
393  2008-10-01   10.933
394  2008-11-01   10.526
395  2008-12-01   10.383
396  2009-01-01    9.786
397  2009-02-01    9.223

[218 rows x 2 columns]

In [32]:
# evaluate an ARIMA model for a given order (p,d,q)
def evaluate_arima_model(X, arima_order):
	# prepare training dataset
	train_size = int(len(X) * 0.66)
	train, test = X[0:train_size], X[train_size:]
	history = [x for x in train]
	# make predictions
	predictions = list()
	for t in range(len(test)):
		model = ARIMA(history, order=arima_order)
		model_fit = model.fit()
		yhat = model_fit.forecast()[0]
		predictions.append(yhat)
		history.append(test[t])
	# calculate out of sample error
	error = mean_squared_error(test, predictions)
	return error

In [61]:

# evaluate combinations of p, d and q values for an ARIMA model
def evaluate_models(dataset, p_values, d_values, q_values):
	dataset = list(dataset.astype('float32'))
	best_score, best_cfg = float("inf"), None
	for p in p_values:
		for d in d_values:
			for q in q_values:
				order = (p,d,q)
				try:
					mse = evaluate_arima_model(dataset, order)
					if mse < best_score:
						best_score, best_cfg = mse, order
					print('ARIMA%s MSE=%.3f' % (order,mse))
				except:
					continue
	print('Best ARIMA%s MSE=%.3f' % (best_cfg, best_score))

In [ ]:

import warnings
warnings.filterwarnings("ignore")
# evaluate parameters
p_values = [0, 1, 2, 4, 6]
d_values = range(0, 3)
q_values = range(0, 3)
warnings.filterwarnings("ignore")
evaluate_models(series.TOTALSA, p_values, d_values, q_values)

ARIMA(0, 0, 0) MSE=4.389
ARIMA(0, 0, 1) MSE=2.172
ARIMA(0, 0, 2) MSE=1.491
ARIMA(0, 1, 0) MSE=0.826
ARIMA(0, 1, 1) MSE=0.872
ARIMA(0, 1, 2) MSE=0.865
ARIMA(0, 2, 0) MSE=2.062
ARIMA(0, 2, 1) MSE=0.832
ARIMA(0, 2, 2) MSE=0.811
ARIMA(1, 0, 0) MSE=0.853
ARIMA(1, 0, 1) MSE=0.872
ARIMA(1, 0, 2) MSE=0.865
ARIMA(1, 1, 0) MSE=0.787
ARIMA(1, 1, 1) MSE=0.864
ARIMA(1, 1, 2) MSE=0.870
ARIMA(1, 2, 0) MSE=1.378
ARIMA(1, 2, 1) MSE=0.791

In [38]:
evaluate_arima_model(series.TOTALSA, (2,1,0))

KeyError: ignored

In [56]:
X= list(series.TOTALSA)
print(list(series.TOTALSA.astype('float32')))
print(X)
train_size = int(len(X) * 0.66)
train, test = X[0:train_size], X[train_size:]
print(test)
history = [x for x in train]
# make predictions
predictions = list()
print(test[0])
for t in range(len(test)):
  model = ARIMA(history, order=(1,1,0))
  model_fit = model.fit()
  yhat = model_fit.forecast()[0]
  predictions.append(yhat)
  history.append(test[0])
	# calculate out of sample error
error = mean_squared_error(test, predictions)
print(error)

[11.829000473022461, 12.409000396728516, 12.847999572753906, 12.038000106811523, 12.487000465393066, 12.718999862670898, 12.972000122070312, 12.5649995803833, 13.107000350952148, 12.217000007629395, 12.576000213623047, 12.657999992370605, 12.590999603271484, 12.927000045776367, 12.824000358581543, 12.550000190734863, 13.097999572753906, 13.543000221252441, 12.852999687194824, 12.873000144958496, 13.378000259399414, 13.654999732971191, 13.218000411987305, 13.784000396728516, 13.456999778747559, 12.968999862670898, 13.326000213623047, 14.527000427246094, 14.519000053405762, 14.489999771118164, 14.451000213623047, 13.583999633789062, 13.989999771118164, 14.91100025177002, 14.881999969482422, 15.003999710083008, 15.378999710083008, 15.520000457763672, 15.300999641418457, 16.01300048828125, 14.57699966430664, 15.109000205993652, 14.875, 15.359000205993652, 15.27400016784668, 15.894000053405762, 15.890000343322754, 15.583999633789062, 14.800999641418457, 14.861000061035156, 15.255999565124512, 14.378000259399414, 14.805999755859375, 15.406999588012695, 14.699999809265137, 15.368000030517578, 15.338000297546387, 14.861000061035156, 15.380000114440918, 16.261999130249023, 14.812000274658203, 15.586999893188477, 16.04400062561035, 15.465999603271484, 15.993000030517578, 15.255999565124512, 15.074000358581543, 15.486000061035156, 15.534000396728516, 15.307999610900879, 15.711999893188477, 15.182999610900879, 15.682000160217285, 15.270999908447266, 15.815999984741211, 15.057999610900879, 15.088000297546387, 14.52400016784668, 15.567999839782715, 16.148000717163086, 15.095999717712402, 15.430999755859375, 15.824999809265137, 16.474000930786133, 14.788999557495117, 15.232000350952148, 15.404999732971191, 15.92300033569336, 17.05699920654297, 16.770999908447266, 14.668000221252441, 14.795999526977539, 16.312999725341797, 17.131000518798828, 16.118000030517578, 17.409000396728516, 16.593000411987305, 17.097000122070312, 16.832000732421875, 16.929000854492188, 17.56399917602539, 17.34600067138672, 17.687999725341797, 17.641000747680664, 17.66200065612793, 17.68400001525879, 17.6200008392334, 18.32200050354004, 18.635000228881836, 19.400999069213867, 18.343000411987305, 17.93899917602539, 17.94300079345703, 17.59600067138672, 17.31599998474121, 17.5310001373291, 18.65399932861328, 17.513999938964844, 16.634000778198242, 16.222000122070312, 17.652000427246094, 17.826000213623047, 17.24799919128418, 16.871999740600586, 16.875999450683594, 17.464000701904297, 16.46299934387207, 16.347999572753906, 16.364999771118164, 22.05500030517578, 18.0310001373291, 16.46500015258789, 16.523000717163086, 17.304000854492188, 17.10700035095215, 17.667999267578125, 16.19700050354004, 16.952999114990234, 18.14699935913086, 18.448999404907227, 16.665000915527344, 16.259000778198242, 16.520000457763672, 17.865999221801758, 16.70800018310547, 16.11400032043457, 16.466999053955078, 16.750999450683594, 16.469999313354492, 17.01300048828125, 17.117000579833984, 18.261999130249023, 17.285999298095703, 16.48900032043457, 17.562999725341797, 17.35700035095215, 16.69499969482422, 17.031999588012695, 17.246999740600586, 16.898000717163086, 18.18600082397461, 16.17300033569336, 17.30900001525879, 17.156999588012695, 17.875, 17.513999938964844, 17.36199951171875, 18.101999282836914, 16.888999938964844, 16.88599967956543, 17.413000106811523, 17.756000518798828, 17.413999557495117, 18.48200035095215, 21.135000228881836, 17.417999267578125, 16.927000045776367, 15.336000442504883, 16.52400016784668, 17.173999786376953, 18.08099937438965, 17.070999145507812, 16.959999084472656, 17.12700080871582, 16.729000091552734, 16.899999618530273, 17.66200065612793, 16.45800018310547, 16.974000930786133, 16.864999771118164, 16.656999588012695, 17.10700035095215, 16.895999908447266, 17.16900062561035, 16.437999725341797, 16.614999771118164, 16.660999298095703, 16.179000854492188, 15.836999893188477, 16.378999710083008, 16.531999588012695, 16.454999923706055, 16.354000091552734, 16.030000686645508, 15.704999923706055, 15.491000175476074, 15.11400032043457, 14.604999542236328, 14.696999549865723, 14.376999855041504, 13.005999565124512, 14.119000434875488, 12.961000442504883, 10.932999610900879, 10.526000022888184, 10.383000373840332, 9.78600025177002, 9.222999572753906]
[11.829, 12.409, 12.848, 12.038, 12.487, 12.719, 12.972, 12.565, 13.107, 12.217, 12.576, 12.658, 12.591, 12.927, 12.824, 12.55, 13.098, 13.543, 12.853, 12.873, 13.378, 13.655, 13.218, 13.784, 13.457, 12.969, 13.326, 14.527, 14.519, 14.49, 14.451, 13.584, 13.99, 14.911, 14.882, 15.004, 15.379, 15.52, 15.301, 16.013, 14.577, 15.109, 14.875, 15.359, 15.274, 15.894, 15.89, 15.584, 14.801, 14.861, 15.256, 14.378, 14.806, 15.407, 14.7, 15.368, 15.338, 14.861, 15.38, 16.262, 14.812, 15.587, 16.044, 15.466, 15.993, 15.256, 15.074, 15.486, 15.534, 15.308, 15.712, 15.183, 15.682, 15.271, 15.816, 15.058, 15.088, 14.524, 15.568, 16.148, 15.096, 15.431, 15.825, 16.474, 14.789, 15.232, 15.405, 15.923, 17.057, 16.771, 14.668, 14.796, 16.313, 17.131, 16.118, 17.409, 16.593, 17.097, 16.832, 16.929, 17.564, 17.346, 17.688, 17.641, 17.662, 17.684, 17.62, 18.322, 18.635, 19.401, 18.343, 17.939, 17.943, 17.596, 17.316, 17.531, 18.654, 17.514, 16.634, 16.222, 17.652, 17.826, 17.248, 16.872, 16.876, 17.464, 16.463, 16.348, 16.365, 22.055, 18.031, 16.465, 16.523, 17.304, 17.107, 17.668, 16.197, 16.953, 18.147, 18.449, 16.665, 16.259, 16.52, 17.866, 16.708, 16.114, 16.467, 16.751, 16.47, 17.013, 17.117, 18.262, 17.286, 16.489, 17.563, 17.357, 16.695, 17.032, 17.247, 16.898, 18.186, 16.173, 17.309, 17.157, 17.875, 17.514, 17.362, 18.102, 16.889, 16.886, 17.413, 17.756, 17.414, 18.482, 21.135, 17.418, 16.927, 15.336, 16.524, 17.174, 18.081, 17.071, 16.96, 17.127, 16.729, 16.9, 17.662, 16.458, 16.974, 16.865, 16.657, 17.107, 16.896, 17.169, 16.438, 16.615, 16.661, 16.179, 15.837, 16.379, 16.532, 16.455, 16.354, 16.03, 15.705, 15.491, 15.114, 14.605, 14.697, 14.377, 13.006, 14.119, 12.961, 10.933, 10.526, 10.383, 9.786, 9.223]
[17.866, 16.708, 16.114, 16.467, 16.751, 16.47, 17.013, 17.117, 18.262, 17.286, 16.489, 17.563, 17.357, 16.695, 17.032, 17.247, 16.898, 18.186, 16.173, 17.309, 17.157, 17.875, 17.514, 17.362, 18.102, 16.889, 16.886, 17.413, 17.756, 17.414, 18.482, 21.135, 17.418, 16.927, 15.336, 16.524, 17.174, 18.081, 17.071, 16.96, 17.127, 16.729, 16.9, 17.662, 16.458, 16.974, 16.865, 16.657, 17.107, 16.896, 17.169, 16.438, 16.615, 16.661, 16.179, 15.837, 16.379, 16.532, 16.455, 16.354, 16.03, 15.705, 15.491, 15.114, 14.605, 14.697, 14.377, 13.006, 14.119, 12.961, 10.933, 10.526, 10.383, 9.786, 9.223]
17.866
6.5499519885239605